---
---

.lt-ie9.js {
	.logo {
		//padding-left: 20px;
		body {
            display: flex;
            justify-content: center; /* Centers horizontally */
            align-items: flex-start; /* Aligns items at the top */
            height: 100vh; /* Full viewport height */
            margin: 0;
        }
        margin-top: 50px; /* Adjust this value to shift it down */
        img {
            width: 250px; /* Adjust size as needed */
            height: 250px; /* Adjust size as needed */
        }
	}

	.nav-collapse {
		clip: auto;
		width: 100%;
		float: right;
		max-height: none;
		clear: none;
		overflow: visible;
		text-align: right;
		padding-right: 20px;

		ul {
			padding-top: 8px;

			li {
				width: auto;
				background: none;
				display: inline-block;
				margin-left: 20px;
				border: none;
			}
		}
	}
}
